* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #b8f2e6;
  color: #111;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px 20px;

}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(50% - 45px);
  max-width: calc(50% - 45px);
  width: 100%;
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.1));
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 2px solid transparent;
  box-shadow: 100px #111;
  position: relative;
}

.card:hover {
  border-color: gray;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  color: maroon;
  cursor: pointer;
  margin-top: 10px;
  display: flex;

}

.image {
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
  width: 35%;
  height: 70%;
  background-color: transparent;
  z-index: 2;
}

.title {
  text-align: center;
  padding: 4px;
}

.tagline {
  color: rgba(0, 0, 0, 0.5);
  padding: 3px;
}

.description {
  text-align: left;
  z-index: 2;
  width: calc(90% - 30px);
}

.credits {
  padding-top: 50px;
  color: black;
  font-weight: bold;
}

@media (max-width: 700px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

